<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="dataBase" connectionString="Data Source=localhost;Initial Catalog=ProyectoV1;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsindicadoreseconomicosSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsindicadoreseconomicosSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="wsindicadoreseconomicosSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
        contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap" />
      <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
        binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap12"
        contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap12" />
    </client>
  </system.serviceModel>
</configuration>